<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="Knee"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <service
            android:name="androidx.browser.customtabs.PostMessageService"
            android:exported="true" />

        <activity
            android:name=".ShareReceiverActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${kneeHost}"
                    android:pathPrefix="/tindeq"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-compressed" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DiagnosticShareReceiverActivity"
            android:exported="true"
            android:launchMode="singleTask" />
    </application>
</manifest>
